!!!
%html
  %head
    %title Tic Tac Toe
    %link{:href => url("/styles.css"), :rel => "stylesheet", :type => "text/css"}

  %body
  %h1 Tic Tac Toe
  .board
    - @board.rows.each do |row|
      .row
        - if @board.available_positions.include? row[0]
          %a.cell{:href => url("/move?move=#{row[0]}")}
            .empty-cell
              &nbsp;
        - else
          .cell.full-cell
            = row[0]
        - if @board.available_positions.include? row[1]
          %a.cell{:href => url("/move?move=#{row[1]}")}
            .empty-cell
              &nbsp;
        - else
          .cell.full-cell
            = row[1]
        - if @board.available_positions.include? row[2]
          %a.cell{:href => url("/move?move=#{row[2]}")}
            .empty-cell
              &nbsp;
        - else
          .cell.full-cell
            = row[2]

  .game-end-message
    - if @winner == false
      %p Game over! It's a draw.
    - elsif @winner != nil
      %p Game over! Winner is #{@winner}.
